
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 color:#666;
 line-height: 1.5em;
 margin: 0px;
 background-image: url("../images/paper_background.jpg");
   

}
 .container{
    /* background-image: url("../images/paper_background.jpg"); */
    max-width: 100%;
} 

header {
    border-bottom: 1px solid #ccc;
    background-color:#fff;
    margin-bottom: 20px;   
    padding-right: 40px;
}

nav {
    /* width:960px; */
    max-width:960px;
    margin: 0 auto;
}

main {

    background-color:#fff;
    /* width:960px; */
    max-width:960px;
    margin: 0 auto;  
    margin-bottom: 40px;
    border: 1px solid #ccc;  
    min-height: calc(100vh - 40px);
        -moz-calc(100% - (20px + 30px));
        -webkit-calc(100% - (20px + 30px));
}

section {
    padding-top: 20px;
    margin-left:20px;
    margin-right:20px;
    display:inline-block;
    vertical-align: top;
}

article {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

footer{
    background-color:#666;
    border-top: 4px solid #4eaaa4;
    padding:20px;
    color:#fff;
    text-align: center;
}

h1 {
    font-size:2.5em;
    padding: 20px 0px;
    color: #4eaaa4;
    margin: 0px 20px;
    border-bottom: 2px solid #ccc;
}

h1.myname {
    font-size:3em;
    vertical-align: top;
    display: inline-block;
    padding: 20px;
    background-color: #4eaaa4;
    color:#fff;
    border: 0px none #ccc;
}

a:link {
color:#ccc;
text-decoration: none;
}

a:active, a:hover , a:visited {
    color:#4eaaa4;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 18px;
    line-height: 28px;
  }

img {
    max-width:100%;
    height:auto;
    margin-right:40px;
}


ul {
    float:right;
    list-style-type: none;
}

li {
    display: inline;
    padding: 20px;

}

/* Change the link color on hover */
li a:hover {
    text-decoration: underline;
}

li a.active {
    color:rgb(238, 201, 34);
}

/* about me */

img.about-pic {
   -webkit-filter: grayscale(100%); /*Safari 6.0 - 9.0 */
    filter: grayscale(100%); 
    opacity: 1;
    filter: alpha(opacity=100);/* For IE8 and earlier */
}



  /* PORTFOLIO GRID */

.projects{
    display: flex; 
    display: -webkit-flex;
    -webkit-flex: 1;
            flex: 1;
    flex-direction: row; -webkit-flex-direction: row;
    flex-wrap: wrap; -webkit-flex-wrap: wrap;
    justify-content: center; -webkit-justify-content: center;
    width: 75%;
}
  
  .projects .item{
    background-size:cover;
    background-position:center center;
    min-height: 160px;
    min-width: 160px;
    flex-flow:column-wrap;
  }
  
  .item-info {
     display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    flex-wrap: wrap; -webkit-flex-wrap: wrap;
    justify-content: center; -webkit-justify-content: center;
    align-items: center; -webkit-align-items: center;
    min-width: 260px;
    min-height: 184px;
    margin:20px;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }

  .item-info:hover {
    filter: brightness(120%);
}
  
  .item-info h2{
    font-weight: 700;
    color: #ffffff;
    background-color: #4eaaa4;
    position: relative;
    top: 66px;
    padding: 20px 70px;
    font-size: 1.5em;
}
  }
  
  .item-info span{
    color:#cfcfcf;
    font-family:Arial;
    font-style:italic;
    font-size:0.9em;
    padding-top:5px;
  }

  /* Set background images for each project*/
  #projectimage1{
    background:rgb(187, 186, 186);
    background-image:url('../images/banana.png');
  background-size: contain;
  }
  #projectimage2{
    background:rgb(187, 186, 186);
    background-image:url('../images/yellow.png');
  background-size: contain;
  }
  #projectimage3{
    background:rgb(187, 186, 186);
    background-image:url('../images/orange.png');
  background-size: contain;
  }
  #projectimage4{
    background:rgb(187, 186, 186);
    background-image:url('../images/terracotta.png');
  background-size: contain;
  }
  #projectimage5{
    background:rgb(187, 186, 186);
    background-image:url('../images/black.png');
  background-size: contain;
  }
  #projectimage6{
    background:rgb(187, 186, 186);
    background-image:url('../images/gray.png');
  background-size: contain;
  }


  img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Form */



.contact-form {
    margin:20px 20px;
  }
     
.form-group {
    margin-bottom: 1rem;
}
label {
    font-size: 1.3rem;
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}
textarea.form-control {
    height: auto;
}
textarea {
    overflow: auto;
    resize: vertical;
}
.btn-primary {
    color: #fff;
    background-color: #4eaaa4;
    border-color: #4eaaa4;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 2.2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 770px) and (max-device-width : 980px) {
    /* Styles */

    .projects {
        width: 90% !important;
    }
} 


@media only screen and (min-device-width : 650px) and (max-device-width : 768px) {
    /* Styles */
    img {
        float:left !important;
    }
    article {
        display: unset!important;
    }
    main {
        margin-left: 20px !important;
        margin-right: 20px !important;
      }
      .projects {
          width: 100% !important;
      }
} 

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
    /* Styles */
    .container {
        width:100% !important;
        min-width:320px!important;
    
    }
    header {
        background-color: #4eaaa4 !important;
        padding-right: 0px !important;
        margin-bottom: 0px !important;
        border-bottom: 0px none #ccc important;
    }

  
h1.myname {
    text-align: center !important;
}

    ul {
        background-color: #fff!important;
        text-align: center!important;
        width: 100% !important;
        position: relative;
        padding: 10px !important;
        top: -20px !important;
        border-bottom: 1px solid #ccc important;
    }
    li {
        padding:10px important;
    }
main {
    width: 90%;
    margin-top: 70px;
}
section {
    text-align: center !important;
}

img {
    margin: 0 auto !important;
}
article {
    margin-top:20px !important;
    width:100%;
    text-align: left !important;
}

/*Portfolio mobile */


.projects {
    width: 100% !important;
}

.item-info h2 {
font-size: 1.3em !important;
}
}